# Copy this file to .env and fill in the values

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USERNAME=johannes.voraberger@gmail.com
SMTP_PASSWORD=fvgnnqnlfgiveqem

# Application
SPRING_PROFILES_ACTIVE=prod
